/.gitattributes text eol=lf

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.ipynb text eol=lf
*.txt text eol=lf

*.pt binary
*.pth binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.rar binary

*.js text eol=lf
*.c text eol=lf
*.wat text eol=lf
*.pyd binary
*.dll binary
*.so binary
*.wasm binary
*.npz binary
