/.gitattributes text eol=lf

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.ipynb text eol=lf
*.txt text eol=lf

*.pt binary
*.pth binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.rar binary
